<app-header></app-header>
<ion-content [fullscreen]="false">
  <div id="container" class="ion-text-center">
    <ion-text color="secondary">
      <h2><strong class="capitalize">Resultados Nacionales</strong></h2>
    </ion-text>
    <app-graphic [data]="data" [totals]="totals"></app-graphic>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-text color="secondary">
          <h2><strong class="capitalize">Estados</strong></h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    @for (state of states; track state.id){
    <ion-item (click)="goToState(state.id)">
      <ion-label>{{ state.name }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
