
    <ion-chip>
      <ion-avatar>
        <img src="assets/edmundo.png" />
      </ion-avatar>
      <ion-label>Edmundo González: {{ totals.eg | number }}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar (click)="setEasterEgg()">
        <img src="assets/maduro.png" />
      </ion-avatar>
      <ion-label>Nicolás Maduro: {{totals.nm | number}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Otros: {{totals.others | number}}</ion-label>
    </ion-chip>
