
<app-header></app-header>
<ion-content [fullscreen]="false">
  <div id="container" class="ion-text-center">
    <ion-breadcrumbs>
      <ion-breadcrumb href="/folder">Nacional</ion-breadcrumb>
      <ion-breadcrumb href="/state/{{stateId}}">Estado</ion-breadcrumb>
      <ion-breadcrumb href="/municipality/{{stateId}}/{{muniId}}">Municipio</ion-breadcrumb>
      <ion-breadcrumb disabled="disabled">Parroqia</ion-breadcrumb>

    </ion-breadcrumbs>
    <ion-text color="secondary">
      <h2><strong class="capitalize">{{ parrishData.name }}</strong></h2>
    </ion-text>
    <app-graphic [data]="graphicData"  [totals]="parrishData.totals"></app-graphic>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-text color="secondary">
            <h2><strong class="capitalize">Centros</strong></h2>
          </ion-text>
        </ion-label>
      </ion-list-header>
      @for (state of parrishData.centers; track state.id){
        <ion-item (click)="goToCenter(state.id)">
          <ion-label>{{ state.id | centers }}</ion-label>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
